{% extends 'base.html'%}
{% load static %}
{% block title %}<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Blanditiis sit eveniet non accusantium velit id harum alias consequuntur itaque qui! 
    Sit voluptas fuga culpa dicta animi quo rem explicabo sequi rerum. 
    Dignissimos natus placeat nulla beatae excepturi ea accusamus accusantium porro alias eligendi. 
    Vel inventore doloribus vero reprehenderit repudiandae saepe doloremque aperiam ipsa adipisci velit dolore rem, 
    soluta debitis harum.</p>
{% endblock %}

