{% extends 'base.html' %}
{% load static %}

{% block title %}Index Page{% endblock %}


{% block content %}

<h1>Welcome to the our online store</h1>
<p>This is the main content of the index page. 
You can find various products and information here.
Feel free to explore our products and learn more about what we offer.
</p>

<!-- <form  method="post">
    {% csrf_token %}
    <input type="text" placeholder="frist name"><br>
    <input type="text" placeholder="last name"><br>
    <input type="text" placeholder="user name"><br>
    <input type="text" placeholder="email"><br>
    <input type="password" placeholder="password"><br>
    <button>send</button>
</form> -->

{% endblock %}
